/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
  font-family: 'Cabin-Regular';
  src: url(fonts/Cabin-Regular-TTF.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
 font-family: 'Cabin-Regular', sans-serif;
 margin: 0;
 background-repeat: no-repeat;
 background: linear-gradient(0, rgb(29,53,73), SteelBlue);
 background-attachment: fixed;
}

html, body {
  height: 100%;
}

h1 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 5px 0 0 0;
  padding: 5px 0 5px 0;
  border-bottom: solid;
}

.evenSect {
  color: rgb(57, 106, 147);
  background-color: rgb(176, 196, 222);
  background-color: rgba(176, 196, 222, 0.75);
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 0;
  border-style: solid;
  border-radius: 5px;
}

.oddSect {
  color: rgb(176, 196, 222);
  background-color: rgb(57, 106, 147);
  background-color: rgba(57, 106, 147, 0.75);
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 0;
  border-style: solid;
  border-radius: 5px;
}

.logo {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.bottom-page-info {
  color: LightSteelBlue;
  width: 100%;
  font-weight: lighter;
  font-size: 12px;
  bottom: 0;
  border-top: solid;
  border-width: thin;
  margin-top: 2em;
  padding: 4px 0 4px 0;
}

.main-paragraph {
  text-align: center;
  padding: 10px 5px 0 5px;
  margin: 5px 10px 20px 10px;
}

.img {
  border: solid;
  border-radius: 50%;
}
