/* master.css to control general style of sheets*/
body {
  background-color: rgb(78, 89, 96);
}
h1 {
  color: rgba(200, 200, 200, 0.8);
}
h3 {
  color: rgba(200, 200, 200, 0.8);
}
#page-link:link, #page-link:visited {
  text-decoration: none;
  background-color: inherit;
  padding: inherit;
  color: rgba(200, 200, 200, 0.8);
}
#page-link:hover, #page-link:active {
  text-decoration: none;
  background-color: rgba(100, 100, 100, 0.3);
  color: rgba(200, 200, 200, 0.8);
}
