/* master.css to control general style of sheets*/
body {
  font-family: Pakenham, sans-serif;
  background-color: rgb(78, 89, 96);
  background-image: linear-gradient(to bottom, rgb(78, 89, 96), rgba(0, 0, 0, 0.5), fixed);
}
h1 {
  color: rgba(200, 200, 200, 0.8);
}
h3 {
  color: rgba(200, 200, 200, 0.8);
}
#page-link:link, #page-link:visited {
  text-decoration: none;
  background-color: inherit;
  padding: 30px 200px;
  text-align: center;
  color: rgba(200, 200, 200, 0.8);
  display: inline-block;
}
#page-link:hover, #page-link:active {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  /*background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.0));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.0));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.0));*/
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.0));
  color: rgba(200, 200, 200, 0.8);
}

@font-face {
  font-family: Pakenham;
  src: local('/fonts/pakenham_rg.ttf', format('truetype'));
}
